/Flutter/App/myapp/windows/.dart_tool/flutter_build/4aa9fb00ff6af7f079f8c211654f5cc5/.filecache
/Flutter/App/myapp/windows/build/89dd597217f41df084b02e0778101388/.filecache
/Flutter/App/myapp/windows/build/.last_build_id
/Flutter/App/myapp/windows/build/89dd597217f41df084b02e0778101388/_composite.stamp
/Flutter/App/myapp/windows/build/windows/x64/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
/Flutter/App/myapp/windows/build/windows/x64/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
/Flutter/App/myapp/windows/build/windows/x64/runner/ALL_BUILD.vcxproj
/Flutter/App/myapp/windows/build/windows/x64/ALL_BUILD.vcxproj
/Flutter/App/myapp/windows/build/windows/x64/runner/ALL_BUILD.vcxproj.filters
/Flutter/App/myapp/windows/build/windows/x64/ALL_BUILD.vcxproj.filters
/Flutter/App/myapp/windows/.dart_tool/flutter_build/4aa9fb00ff6af7f079f8c211654f5cc5/app.dill
/Flutter/App/myapp/windows/build/flutter_assets/AssetManifest.bin
/Flutter/App/myapp/windows/build/windows/x64/runner/Debug/data/flutter_assets/AssetManifest.bin
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/basic_message_channel.h
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/binary_messenger.h
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/binary_messenger_impl.h
/Flutter/App/myapp/android/.gradle/noVersion/buildLogic.lock
/Flutter/App/myapp/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/byte_buffer_streams.h
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/byte_streams.h
/Flutter/App/myapp/windows/build/ca33f282d90356a564f3e3da52c97351.cache.dill.track.dill
/Flutter/App/myapp/android/.gradle/buildOutputCleanup/cache.properties
/Flutter/App/myapp/android/.gradle/8.14/checksums/checksums.lock
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.B07E9583.tlog/CL.command.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.299B121C.tlog/CL.command.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/windows.tlog/CL.command.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.B07E9583.tlog/Cl.items.tlog
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.299B121C.tlog/Cl.items.tlog
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/windows.tlog/Cl.items.tlog
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.B07E9583.tlog/CL.read.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.299B121C.tlog/CL.read.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/windows.tlog/CL.read.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.B07E9583.tlog/CL.write.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.299B121C.tlog/CL.write.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/windows.tlog/CL.write.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/cmake.check_cache
/Flutter/App/myapp/windows/build/windows/x64/flutter/cmake_install.cmake
/Flutter/App/myapp/windows/build/windows/x64/runner/cmake_install.cmake
/Flutter/App/myapp/windows/build/windows/x64/cmake_install.cmake
/Flutter/App/myapp/windows/build/windows/x64/CMakeCache.txt
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/CMakeConfigureLog.yaml
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/CMakeCXXCompiler.cmake
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CMakeCXXCompilerId.cpp
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/CMakeDetermineCompilerABI_CXX.bin
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/CMakeRCCompiler.cmake
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/CMakeSystem.cmake
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CompilerIdCXX.exe
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CompilerIdCXX.vcxproj
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/core_implementations.cc
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/core_implementations.obj
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/core_implementations.obj
/Flutter/App/myapp/windows/build/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
/Flutter/App/myapp/windows/build/windows/x64/runner/Debug/data/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.B07E9583.tlog/CustomBuild.command.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.299B121C.tlog/CustomBuild.command.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/flutter/x64/Debug/flutter_assemble/flutter_assemble.tlog/CustomBuild.command.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/windows.tlog/CustomBuild.command.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/x64/Debug/INSTALL/INSTALL.tlog/CustomBuild.command.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.B07E9583.tlog/CustomBuild.read.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.299B121C.tlog/CustomBuild.read.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/flutter/x64/Debug/flutter_assemble/flutter_assemble.tlog/CustomBuild.read.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/windows.tlog/CustomBuild.read.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/x64/Debug/INSTALL/INSTALL.tlog/CustomBuild.read.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.B07E9583.tlog/CustomBuild.write.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.299B121C.tlog/CustomBuild.write.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/flutter/x64/Debug/flutter_assemble/flutter_assemble.tlog/CustomBuild.write.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/windows.tlog/CustomBuild.write.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/x64/Debug/INSTALL/INSTALL.tlog/CustomBuild.write.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
/Flutter/App/myapp/windows/.dart_tool/flutter_build/4aa9fb00ff6af7f079f8c211654f5cc5/dart_build.d
/Flutter/App/myapp/windows/build/89dd597217f41df084b02e0778101388/dart_build.d
/Flutter/App/myapp/windows/.dart_tool/flutter_build/4aa9fb00ff6af7f079f8c211654f5cc5/dart_build.stamp
/Flutter/App/myapp/windows/build/89dd597217f41df084b02e0778101388/dart_build.stamp
/Flutter/App/myapp/windows/.dart_tool/flutter_build/4aa9fb00ff6af7f079f8c211654f5cc5/dart_build_result.json
/Flutter/App/myapp/windows/build/89dd597217f41df084b02e0778101388/dart_build_result.json
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/dart_project.h
/Flutter/App/myapp/.idea/libraries/Dart_SDK.xml
/Flutter/App/myapp/windows/.idea/libraries/Dart_SDK.xml
/Flutter/App/myapp/windows/.dart_tool/flutter_build/4aa9fb00ff6af7f079f8c211654f5cc5/debug_bundle_windows-x64_assets.stamp
/Flutter/App/myapp/.idea/caches/deviceStreaming.xml
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/encodable_value.h
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/engine_method_result.cc
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/engine_method_result.h
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/event_channel.h
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/event_sink.h
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/event_stream_handler.h
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/event_stream_handler_functions.h
/Flutter/App/myapp/android/.gradle/8.14/executionHistory/executionHistory.bin
/Flutter/App/myapp/android/.gradle/8.14/executionHistory/executionHistory.lock
/Flutter/App/myapp/android/.gradle/file-system.probe
/Flutter/App/myapp/android/.gradle/8.14/fileHashes/fileHashes.bin
/Flutter/App/myapp/android/.gradle/8.14/fileHashes/fileHashes.lock
/Flutter/App/myapp/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
/Flutter/App/myapp/windows/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
/Flutter/App/myapp/windows/build/windows/x64/flutter/x64/Debug/flutter_assemble/flutter_assemble.tlog/flutter_assemble.lastbuildstate
/Flutter/App/myapp/windows/build/windows/x64/flutter/x64/Debug/flutter_assemble/flutter_assemble.recipe
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/adf5aa86f562f28bebaab93d7377cd7e/flutter_assemble.rule
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_assemble.vcxproj
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_assemble.vcxproj.filters
/Flutter/App/myapp/windows/.dart_tool/flutter_build/4aa9fb00ff6af7f079f8c211654f5cc5/flutter_assets.d
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/flutter_engine.cc
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/flutter_engine.h
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_engine.obj
/Flutter/App/myapp/windows/windows/flutter/ephemeral/flutter_export.h
/Flutter/App/myapp/ios/Flutter/flutter_export_environment.sh
/Flutter/App/myapp/macos/Flutter/ephemeral/flutter_export_environment.sh
/Flutter/App/myapp/windows/ios/Flutter/flutter_export_environment.sh
/Flutter/App/myapp/windows/macos/Flutter/ephemeral/flutter_export_environment.sh
/Flutter/App/myapp/ios/Flutter/ephemeral/flutter_lldb_helper.py
/Flutter/App/myapp/windows/ios/Flutter/ephemeral/flutter_lldb_helper.py
/Flutter/App/myapp/ios/Flutter/ephemeral/flutter_lldbinit
/Flutter/App/myapp/windows/ios/Flutter/ephemeral/flutter_lldbinit
/Flutter/App/myapp/windows/windows/flutter/ephemeral/flutter_messenger.h
/Flutter/App/myapp/windows/windows/flutter/ephemeral/flutter_plugin_registrar.h
/Flutter/App/myapp/.idea/libraries/Flutter_Plugins.xml
/Flutter/App/myapp/windows/windows/flutter/ephemeral/flutter_texture_registrar.h
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/flutter_view.h
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/flutter_view_controller.cc
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/flutter_view_controller.h
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_view_controller.obj
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/flutter_window.obj
/Flutter/App/myapp/windows/build/windows/x64/runner/Debug/flutter_windows.dll
/Flutter/App/myapp/windows/windows/flutter/ephemeral/flutter_windows.dll
/Flutter/App/myapp/windows/windows/flutter/ephemeral/flutter_windows.dll.exp
/Flutter/App/myapp/windows/windows/flutter/ephemeral/flutter_windows.dll.lib
/Flutter/App/myapp/windows/windows/flutter/ephemeral/flutter_windows.dll.pdb
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/23c02328e6ba473ab230e57f1b54b5ff/flutter_windows.dll.rule
/Flutter/App/myapp/windows/windows/flutter/ephemeral/flutter_windows.h
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.B07E9583.tlog/flutter_wrapper_app.lastbuildstate
/Flutter/App/myapp/windows/build/windows/x64/flutter/Debug/flutter_wrapper_app.lib
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_wrapper_app.lib.recipe
/Flutter/App/myapp/windows/build/windows/x64/flutter/Debug/flutter_wrapper_app.pdb
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_app.vcxproj
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_app.vcxproj.filters
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.299B121C.tlog/flutter_wrapper_plugin.lastbuildstate
/Flutter/App/myapp/windows/build/windows/x64/flutter/Debug/flutter_wrapper_plugin.lib
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_wrapper_plugin.lib.recipe
/Flutter/App/myapp/windows/build/windows/x64/flutter/Debug/flutter_wrapper_plugin.pdb
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_plugin.vcxproj
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_plugin.vcxproj.filters
/Flutter/App/myapp/windows/build/flutter_assets/FontManifest.json
/Flutter/App/myapp/windows/build/windows/x64/runner/Debug/data/flutter_assets/FontManifest.json
/Flutter/App/myapp/android/.gradle/8.14/gc.properties
/Flutter/App/myapp/android/.gradle/vcs-1/gc.properties
/Flutter/App/myapp/windows/.dart_tool/flutter_build/4aa9fb00ff6af7f079f8c211654f5cc5/gen_dart_plugin_registrant.stamp
/Flutter/App/myapp/windows/build/89dd597217f41df084b02e0778101388/gen_dart_plugin_registrant.stamp
/Flutter/App/myapp/windows/.dart_tool/flutter_build/4aa9fb00ff6af7f079f8c211654f5cc5/gen_localizations.stamp
/Flutter/App/myapp/windows/build/89dd597217f41df084b02e0778101388/gen_localizations.stamp
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/generate.stamp
/Flutter/App/myapp/windows/build/windows/x64/flutter/CMakeFiles/generate.stamp
/Flutter/App/myapp/windows/build/windows/x64/runner/CMakeFiles/generate.stamp
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/generate.stamp.depend
/Flutter/App/myapp/windows/build/windows/x64/flutter/CMakeFiles/generate.stamp.depend
/Flutter/App/myapp/windows/build/windows/x64/runner/CMakeFiles/generate.stamp.depend
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/generate.stamp.list
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/b66ecbd8d3567e60f210903786b9c4a1/generate.stamp.rule
/Flutter/App/myapp/ios/Flutter/Generated.xcconfig
/Flutter/App/myapp/windows/ios/Flutter/Generated.xcconfig
/Flutter/App/myapp/windows/windows/flutter/ephemeral/generated_config.cmake
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/generated_plugin_registrant.obj
/Flutter/App/myapp/ios/Runner/GeneratedPluginRegistrant.h
/Flutter/App/myapp/windows/ios/Runner/GeneratedPluginRegistrant.h
/Flutter/App/myapp/windows/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
/Flutter/App/myapp/ios/Runner/GeneratedPluginRegistrant.m
/Flutter/App/myapp/windows/ios/Runner/GeneratedPluginRegistrant.m
/Flutter/gitignore.txt
/Flutter/App/myapp/android/gradle/wrapper/gradle-wrapper.jar
/Flutter/App/myapp/windows/android/gradle/wrapper/gradle-wrapper.jar
/Flutter/App/myapp/android/gradlew
/Flutter/App/myapp/windows/android/gradlew
/Flutter/App/myapp/android/gradlew.bat
/Flutter/App/myapp/windows/android/gradlew.bat
/Flutter/App/myapp/windows/build/windows/x64/runner/Debug/data/icudtl.dat
/Flutter/App/myapp/windows/windows/flutter/ephemeral/icudtl.dat
/Flutter/App/myapp/windows/build/flutter_assets/shaders/ink_sparkle.frag
/Flutter/App/myapp/windows/build/windows/x64/runner/Debug/data/flutter_assets/shaders/ink_sparkle.frag
/Flutter/App/myapp/windows/build/windows/x64/x64/Debug/INSTALL/INSTALL.tlog/INSTALL.lastbuildstate
/Flutter/App/myapp/windows/build/windows/x64/x64/Debug/INSTALL/INSTALL.recipe
/Flutter/App/myapp/windows/build/windows/x64/flutter/INSTALL.vcxproj
/Flutter/App/myapp/windows/build/windows/x64/runner/INSTALL.vcxproj
/Flutter/App/myapp/windows/build/windows/x64/INSTALL.vcxproj
/Flutter/App/myapp/windows/build/windows/x64/flutter/INSTALL.vcxproj.filters
/Flutter/App/myapp/windows/build/windows/x64/runner/INSTALL.vcxproj.filters
/Flutter/App/myapp/windows/build/windows/x64/INSTALL.vcxproj.filters
/Flutter/App/myapp/windows/.dart_tool/flutter_build/4aa9fb00ff6af7f079f8c211654f5cc5/install_code_assets.d
/Flutter/App/myapp/windows/.dart_tool/flutter_build/4aa9fb00ff6af7f079f8c211654f5cc5/install_code_assets.stamp
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/803addc7f1bbd1d94ac92e3373c32874/INSTALL_force.rule
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/adf5aa86f562f28bebaab93d7377cd7e/INSTALL_force.rule
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/b66ecbd8d3567e60f210903786b9c4a1/INSTALL_force.rule
/Flutter/App/myapp/windows/build/windows/x64/install_manifest.txt
/Flutter/App/myapp/windows/build/flutter_assets/kernel_blob.bin
/Flutter/App/myapp/windows/build/windows/x64/runner/Debug/data/flutter_assets/kernel_blob.bin
/Flutter/App/myapp/windows/.dart_tool/flutter_build/4aa9fb00ff6af7f079f8c211654f5cc5/kernel_snapshot_program.d
/Flutter/App/myapp/windows/.dart_tool/flutter_build/4aa9fb00ff6af7f079f8c211654f5cc5/kernel_snapshot_program.stamp
/Flutter/App/myapp/.idea/libraries/KotlinJavaRuntime.xml
/Flutter/App/myapp/windows/.idea/libraries/KotlinJavaRuntime.xml
/Flutter/App/myapp/android/.gradle/8.14/fileChanges/last-build.bin
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.B07E9583.tlog/Lib.command.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.299B121C.tlog/Lib.command.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.B07E9583.tlog/Lib-link.read.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.299B121C.tlog/Lib-link.read.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.B07E9583.tlog/Lib-link.write.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.299B121C.tlog/Lib-link.write.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/windows.tlog/link.command.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/windows.tlog/link.read.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/windows.tlog/link.secondary.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/windows.tlog/link.write.1.tlog
/Flutter/App/myapp/windows/android/local.properties
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/main.obj
/Flutter/App/myapp/.idea/runConfigurations/main_dart.xml
/Flutter/App/myapp/windows/.idea/runConfigurations/main_dart.xml
/Flutter/App/myapp/windows/build/flutter_assets/fonts/MaterialIcons-Regular.otf
/Flutter/App/myapp/windows/build/windows/x64/runner/Debug/data/flutter_assets/fonts/MaterialIcons-Regular.otf
/Flutter/App/myapp/android/.gradle/8.14/checksums/md5-checksums.bin
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/message_codec.h
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/method_call.h
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/method_channel.h
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/method_codec.h
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/method_result.h
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/method_result_functions.h
/Flutter/App/myapp/.idea/modules.xml
/Flutter/App/myapp/windows/.idea/modules.xml
/Flutter/App/myapp/windows/.dart_tool/flutter_build/4aa9fb00ff6af7f079f8c211654f5cc5/native_assets.json
/Flutter/App/myapp/windows/build/flutter_assets/NativeAssetsManifest.json
/Flutter/App/myapp/windows/build/windows/x64/runner/Debug/data/flutter_assets/NativeAssetsManifest.json
/Flutter/App/myapp/windows/build/flutter_assets/NOTICES.Z
/Flutter/App/myapp/windows/build/windows/x64/runner/Debug/data/flutter_assets/NOTICES.Z
/Flutter/App/myapp/android/.gradle/buildOutputCleanup/outputFiles.bin
/Flutter/App/myapp/windows/.dart_tool/flutter_build/4aa9fb00ff6af7f079f8c211654f5cc5/outputs.json
/Flutter/App/myapp/windows/build/89dd597217f41df084b02e0778101388/outputs.json
/Flutter/App/myapp/windows/.dart_tool/package_config.json
/Flutter/App/myapp/windows/.dart_tool/package_graph.json
/Flutter/App/myapp/linux/flutter/ephemeral/.plugin_symlinks/path_provider_linux/
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/plugin_registrar.cc
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/plugin_registrar.h
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/plugin_registrar.obj
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/plugin_registrar_windows.h
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/plugin_registry.h
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/windows.tlog/rc.command.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/windows.tlog/rc.read.1.tlog
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/windows.tlog/rc.write.1.tlog
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/readme
/Flutter/App/myapp/android/.gradle/8.14/fileHashes/resourceHashesCache.bin
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/Runner.res
/Flutter/App/myapp/windows/build/windows/x64/runner/runner.sln
/Flutter/App/myapp/android/.gradle/8.14/checksums/sha1-checksums.bin
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/standard_codec.cc
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/standard_codec.obj
/Flutter/App/myapp/windows/build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/standard_codec.obj
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/standard_codec_serializer.h
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/standard_message_codec.h
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/standard_method_codec.h
/Flutter/App/myapp/windows/build/flutter_assets/shaders/stretch_effect.frag
/Flutter/App/myapp/windows/build/windows/x64/runner/Debug/data/flutter_assets/shaders/stretch_effect.frag
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/TargetDirectories.txt
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/texture_registrar.h
/Flutter/App/myapp/windows/windows/flutter/ephemeral/cpp_client_wrapper/texture_registrar_impl.h
/Flutter/App/myapp/windows/.dart_tool/flutter_build/4aa9fb00ff6af7f079f8c211654f5cc5/unpack_windows.stamp
/Flutter/App/myapp/linux/flutter/ephemeral/.plugin_symlinks/url_launcher_linux/
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/utils.obj
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/vc143.pdb
/Flutter/App/.idea/vcs.xml
/Flutter/App/myapp/.idea/vcs.xml
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/VCTargetsPath.txt
/Flutter/App/myapp/windows/build/windows/x64/CMakeFiles/3.31.6-msvc6/VCTargetsPath.vcxproj
/Flutter/App/myapp/windows/.dart_tool/version
/Flutter/App/myapp/.dart_tool/dartpad/web_plugin_registrant.dart
/Flutter/App/myapp/windows/.dart_tool/dartpad/web_plugin_registrant.dart
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/win32_window.obj
/Flutter/App/myapp/windows/build/windows/x64/runner/Debug/windows.exe
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/windows.exe.recipe
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/windows.ilk
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.dir/Debug/windows.tlog/windows.lastbuildstate
/Flutter/App/myapp/windows/build/windows/x64/runner/Debug/windows.pdb
/Flutter/App/myapp/windows/build/windows/x64/windows.sln
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.vcxproj
/Flutter/App/myapp/windows/build/windows/x64/runner/windows.vcxproj.filters
/Flutter/App/myapp/windows/.dart_tool/flutter_build/4aa9fb00ff6af7f079f8c211654f5cc5/windows_engine_sources.d
/Flutter/.idea/workspace.xml
/Flutter/App/myapp/windows/.idea/workspace.xml
/Flutter/App/myapp/windows/build/windows/x64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/Flutter/App/myapp/windows/build/windows/x64/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
/Flutter/App/myapp/windows/build/windows/x64/ZERO_CHECK.vcxproj
/Flutter/App/myapp/windows/build/windows/x64/ZERO_CHECK.vcxproj.filters
